{% extends "layout.twig" %}

{% block scripts %}
    <script src="{{ asset('/js/categorias.js') }}"></script>
{% endblock%}

{% block content %}
    <h1>Lista de Tags</h1>
    
    <p>
        <a class="btn btn-default" href="{{ path("form_novo_categoria") }}">Novo</a>
    </p>
    <form class="form-inline" method="get" >
        <div class="form-group">
            <label for="s">Pesquisar (parte do Nome)</label>
            <input type="text" name="s" id="s" class="form-control" value="{{ busca }}" placeholder="Nome...">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
        <a class="btn btn-default" href="?" >Limpar</a>
    </form><br>
    
    <table id="table-categorias" class="table table-hover">
        <tr>
            <th>Nome</th>
            <th></th>   
        </tr>
        {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.nome }}</td>
            <td>
                <a class="btn btn-primary" href="{{ path('form_editar_categoria',{id: categoria.id}) }}" >Editar</a>
                <a class="btn btn-danger" data-id="{{ categoria.id }}" href="#" >Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
        
        {% include 'pagination.twig' with paginacao %}
        
{% endblock %}