{% extends "layout.twig" %}

{% block navigation %}
    <ul class="nav navbar-nav">
        <li><a href="{{ path("lista_clientes") }}">Clientes</a></li>
        <li><a href="{{ path("lista_produtos") }}">Produtos</a></li>
    </ul>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('/js/jquery.mask.min.js') }}"></script>
    <script src="{{ asset('/js/produtos.js') }}"></script>
{% endblock%}

{% import "forms.twig" as forms %}

{% block content %}
    <h2>Produto</h2>
        
    <form method="post" id="form-produto" class="form-horizontal" 
        {% if produto.id > 0 %}
          action="{{ path('produto_editar', {id: produto.id}) }}" >
        {% else %}
            action="{{ path('novo_produto') }}" >
        {% endif %}
        
        {{ forms.input('id', produto.id, 'hidden',0) }}
        
        {% if produto.id > 0 %}
            <input type="hidden" id="_method" name="_method" value="PUT">
        {% endif %}
        <div class="form-group">
            <label class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-10">
                {{ forms.input('nome', produto.nome, 'text', 255, 'digite o nome do produto') }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Descrição</label>
            <div class="col-sm-10">
                {{ forms.input('descricao', produto.descricao, 'text', 255, 'digite o descrição do produto') }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Valor</label>
            <div class="col-sm-10">
                {{ forms.input('valor', produto.valor|number_format(2, ',', '.'), 'text', 10) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {% if produto.id|length > 0 %}
                    <button type="submit" class="btn btn-default">Salvar Alterações</button>
                {% else %}
                    <button type="submit" class="btn btn-default">Salvar</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}