{% extends "layout.twig" %}

{% block scripts %}
    <script src="{{ asset('/js/jquery.mask.min.js') }}"></script>
    <script src="{{ asset('/js/produtos.js') }}"></script>
{% endblock%}

{% import "forms.twig" as forms %}

{% block content %}
    <h2>Produto</h2>
        
    <form method="post" id="form-produto" 
          class="form-horizontal" enctype="multipart/form-data"
        {% if produto.id > 0 %}
          action="{{ path('produto_editar', {id: produto.id}) }}" >
        {% else %}
            action="{{ path('novo_produto') }}" >
        {% endif %}
        
        {{ forms.input('id', produto.id, 'hidden',0) }}
        
        {% if produto.id > 0 %}
            <input type="hidden" id="_method" name="_method" value="PUT">
        {% endif %}
        <div class="form-group">
            <label class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-10">
                {{ forms.input('nome', produto.nome, 'text', 255, 'digite o nome do produto') }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Descrição</label>
            <div class="col-sm-10">
                {{ forms.input('descricao', produto.descricao, 'text', 255, 'digite o descrição do produto') }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Valor</label>
            <div class="col-sm-10">
                {{ forms.input('valor', produto.valor|number_format(2, ',', '.'), 'text', 10) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Categoria</label>
            <div class="col-sm-10">
                
                <select name="categoria" class="form-control" >
                {% for cat in categorias %}
                    
                    <option value="{{ cat.id }}" {% if cat.id == categoria_id %}selected="selected"{% endif %}  >
                        {{ cat.nome }}
                    </option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-10">
                {% for tag in tags %}
                    {% set checked = tag not in tags_selecionados %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="tags[]" {% if checked == false %}checked="checked"{% endif %}
                                   value="{{ tag.id }}" class="form-control" >
                        {{ tag.nome }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Imagem do produto</label>
            <div class="col-sm-10">
                <div class="checkbox">
                    {% if produto.imagem|length > 0 %}
                        <img src="/produto/imagem/{{produto.id}}" alt="" style="width: 60px;" /><br><br>
                    {% endif %}
                    <label>
                        <input type="file" name="imagem" class="file" >
                        Imagen (png, jpg ou jpeg)
                    </label>
                </div>
            </div>
        </div>
 
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {% if produto.id|length > 0 %}
                    <button type="submit" class="btn btn-default">Salvar Alterações</button>
                {% else %}
                    <button type="submit" class="btn btn-default">Salvar</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}